<h3>New Picture</h3>

<form id='addAlbum'>

  <input type = 'text' id='picPerson' placeholder = 'Name'>
  <input type = 'text' id='picURL' placeholder = 'URL of picture'>
  <input type = 'text' id='description' placeholder = 'Description'>
  <button id='addAlbum'>Add a Pic</button>
</form>
