<h3>New Picture</h3>
<ul>
<form id='addAlbum'>
<li>
  <input type = 'text' id='picTitle' placeholder = 'Name'>
  </li>
  <input type = 'text' id='albumURL' placeholder = 'URL of picture'>
  <input type = 'text' id='description' placeholder = 'Description'>
  <button id='addAlbum'>App Pic</button>

</form>
</ul>
