<h1>My photo pages</h1>
<div class="picperson">
  {{#each pic}}
  <li data-id="{{_id}}"></li>
  <li class="title"> {{title}}</li>
  <a href="#pic/ {{_id}}">
    <img src="{{url}}">
    </a>
</div>
{{/each}}
