<h1>My photo pages</h1>


<form id="pPhoto">
<input type="text" placeholder="URL" id= "picURL">
<input type="text" placeholder="Name" id="picName">
<button id="addPeople"> Add People</button>
</form>
